.card-three{
  border: none;
  text-align: center;
  .card-body{
    padding: 41px 38px;
    h3{
      font-size: $size-h3;
      color: $color-card-h3;
    }
  }
}
.card{
  &:hover{
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.21);
  }
}
.card-text{
  margin-bottom: 1.5rem;
  color: $color-grey-blue;
  font-size: $size-p-content;
  line-height: 28px;
}
