.b-carousel  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
}
.h-carousel-wrapper {
  width: 90%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.h-carousel-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.b-carousel-block {
  width: 210px;
  padding: 5px 6px;
  opacity: 0.4;
  a{
    img{
      height: 30px;
    }
  }
}
.active-img{
  opacity: 1;
}
.a-carousel-image-link {
  display: block;
  width: auto;
  height: 30px;
  overflow: hidden;
}
.b-carousel-button-left, .b-carousel-button-right {
  width: 28px;
  height: 36px;
  position: relative;
  cursor: pointer;
  color: $color-blue;
}
